.queue li{
    color: red;
    font-size: 0;
    background-color: red;
    width: 20px;
    float: left;
    margin: 5px;
}

.queue{
    display: flex;
    align-items: flex-end;
}
.queue_wrapper{
    display: flex;
    justify-content: center;
}
.wrapper{
    width:100%;
    margin: 0 auto;
    text-align: center;
}
.hint{
    font-size: 24px;
    color:red;
}